*.py[co]
*.db
.venv/
cache/
_otros/
output/
__pycache__/
nikola-requirements.txt
files/ppp/results_ppp/
!files/ppp/results_ppp/.gitkeep
files/ppp/uploads/
!files/ppp/uploads/.gitkeep
files/ppp/result/secret.php
*.pickle
files/itrf2posgar/geographiclib-*.tar.gz
files/itrf2posgar/geojson-*.tar.gz
files/itrf2posgar/gnsstime-*.tar.gz
files/ppp/result/csrs_ppp_auto_*.*
files/itrf2posgar/idw.geojson
