## -*- coding: utf-8 -*-
<%inherit file="post.tmpl"/>
<%namespace name="helper" file="post_helper.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    ${helper.open_graph_metadata(post)}
    ${helper.twitter_card_information(post)}
    ${helper.meta_translations(post)}
</%block>

<%block name="content">
<article class="storypage" itemscope="itemscope" itemtype="http://schema.org/Article">
   <div class="e-content entry-content" itemprop="articleBody text">
    ${post.text()}
    </div>
    %if site_has_comments and enable_comments and not post.meta('nocomments'):
        <section class="comments">
        <h2>${messages("Comments")}</h2>
        ${comments.comment_form(post.permalink(absolute=True), post.title(), post.base_path)}
        </section>
    %endif
    ${helper.mathjax_script(post)}
</article>
</%block>
